#body {
    margin: auto;
    width: 90%;
    background-color:#404552;
    color: white;
    box-shadow: 0px 0px 20px #404552;
    padding: 20px 20px 20px 20px; 
    margin-top: 3%;
    margin-bottom: 5%;
    overflow: auto;
}

body {
    background-color: #2F343F;
    margin: 0px 0px 0px 0px; 
}

#bookmark {
    color: white;
}

th {
    background-color: #2f343f;
    box-shadow: 0 0 3px white inset;
}

table {
    border-spacing: 0;
    width: 100%;
    color: white;
}

tr:nth-child(odd) {
    background-color: #2f343f;
}