{% extends "base.html" %}
{% block body %}
<span style="font-size:24pt"><strong>Bookmarks</strong></span>

<br><br>

<form method="POST" action="/bmhandler">
  <input name="new-name" placeholder="Name">
  <input name="new-url" placeholder="URL">
  <input type="submit" name="new-bookmark" value="Submit">
</form>

<form method="POST">
  <input type="submit" name="editToggle" value="Edit Mode">
</form>

{% if edit == False %}
<table id="bookmarkTable">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
  </tr>
{% for mark in bookmarks %}
<!--
mark[0] = name
mark[1] = url
mark[2] = id
-->
  <tr>
    <td><a href="{{ mark[1] }}" target="_blank" id="bookmark">{{ mark[0] }}</a></td>
    <td><a href="{{ mark[1] }}" target="_blank" id="bookmark">{{ mark[1] }}</a></td>
    <form method="POST" action="/bmhandler">
      <td style="width: 0"><input type="submit" name="del-{{ mark [2] }}" value="Delete"></td>
    </form>
  </tr>
{% endfor %}
</table>
{% endif %}

{% if edit == True %}
<table id="bookmarkTable">
  <tr>
    <th>Name</th>
    <th>URL</th>
    <th></th>
  </tr>
{% for mark in bookmarks %}
<!--
mark[0] = name
mark[1] = url
mark[2] = id
-->
  <tr>
    <form method="POST" action="/bmhandler">
      <td><input type="text" name="edit-name-{{ mark[2] }}" value="{{ mark[0] }}">
      <td><input type="text" name="edit-url-{{ mark[2] }}" value="{{ mark[1] }}">
      <td style="width: 0"><input type="submit" name="edit-id-{{ mark [2] }}" value="Submit Edit"></td>
    </form>
  </tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
